.token-names {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;

  & > .MuiTableContainer-root {
    align-self: flex-start;
  }

  &__modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;

    @media (min-width: 400px) {
      gap: 0.8rem;
      padding: 0.8rem;
      font-size: 1.2rem;
    }

    @media (min-width: 600px) {
      gap: 1rem;
      padding: 1rem;
      font-size: 1.4rem;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__explorers-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
  }

  &__explorer-image {
    display: block;
    height: 30px;
    width: 30px;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    padding: 1rem;

    &--approve {
      background-color: green;
    }

    &--reject {
      background-color: red;
    }

    &--under-consideration {
      background-color: orange;
    }
  }
}
