.header {
  background-color: black;
  color: white;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-nav {
  text-transform: uppercase;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    list-style: none;
  }

  &__link {
    color: white;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: #eee;
    }
  }
}
